<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
    <% @orders.each do |order| %>
      <% order.line_items.each do |item| %>
        <% if item.attributes['product_id'] == product.id %>
          <li><%= puts 'booya' %></li>
        <% end %>
      <% end %>
    <% end %>
    <hr>
  <% end %>
</ul>
