<!DOCTYPE html>
<html>
<head>
	<script src="/path/to/tinymce/tinymce.min.js"></script>
	<script type="text/javascript">
	tinymce.init({
		selector: '#mytextarea'
	});
	</script>
</head>
<body>

<h2>Contact your customers:</h2>

<form method="POST" action="/batches/<%= @batch.id %>/order_mailer">
	<input type="text" name="subject" placeholder="Subject">
	<br>
	<textarea name="body" placeholder="Message" id="mytextarea"></textarea>
	<br>
	<button type="submit">Send</button>
</form>

</body>
</html>
