html {
  color: #212B35;
  font-family: Montserrat, Helvetica, sans-serif;
}

body {
  width: 80%;
}

h2 {
  margin-left: 1em;
}

a {
  color: #212B35;
}

a:hover {
  color: #47C1BF;
}

hr {
  border: 1px solid #DFE4E8;
  clear: both;
}

ul {
    list-style-type: none;
}

li {
  padding-bottom: 1em;
  font-family: helvetica, sans-serif;
}

img {
  display: inline-block;
  float: left;
  padding: 1em;
}

.product-box {
  background-color: white;
  border: 1px solid rgba(195,207,216,0.3);
  border-radius: 1px;
  clear: both;
  overflow: hidden;
  margin-bottom: 3px;
}

.product-box:hover {
  background-color: rgba(195,207,216,0.3);
}

.product-text-box {
  float: left;
  padding: 1em;
  padding-top: 2em;
}

.order-list-item {
  clear: both;
  float: left;
  margin-left: 4em;
}
