html {
  color: #212B35;
  font-family: Montserrat, Helvetica, sans-serif;
}

body {
  width: 90%;
}

h2 {
  margin-left: 1em;
}

a {
  color: #212B35;
}

a:hover {
  color: #47C1BF;
}

hr {
  margin-top: 5rem;
  margin-left: 2.7rem;
  border-top: .5px dashed #DFE4E8;
  width: 95%;
  clear: both;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 1em;
  font-family: helvetica, sans-serif;
}

img {
  display: inline-block;
  float: left;
  padding: 1em;
}

form {
  margin-left: 2.1rem;
}

input#q {
  clear: both;
  width: 80%;
  padding: 1.5rem 0 1.5rem 1.4rem;
  margin: .5rem 0 0 .4rem;
  font-size: 1rem;
  border: 2.5px solid rgba(195,207,216,0.3);
  border-radius: 1px;
  display: inline-block;
  float: left;
  vertical-align: top;
}

input[type="submit"] {
  width: 15%;
  height: 4.2rem;
  border: none;
  border-radius: 1px;
  margin: .5rem 0;
  font-size: 1rem;
  display: inline-block;
  float: left;
  vertical-align: top;
  margin-top: .59rem;
  margin-left: .5rem;
  background-color: #47C1BF;
  color: white;
}

input[type="submit"]:hover {
  background-color: #00848E;
}

label {
  margin-top: 1rem;
  margin-left: .5rem;
  float: left;
  display: block;
}

.product-box {
  background-color: white;
  border: 1px solid rgba(195,207,216,0.3);
  border-radius: 1px;
  clear: both;
  overflow: hidden;
  margin-bottom: 3px;
}

.product-box:hover {
  background-color: rgba(195,207,216,0.3);
}

.product-text-box {
  float: left;
  padding: 1em;
  padding-top: 2em;
}

.order-list-item {
  clear: both;
  float: left;
  margin-left: 4em;
}

.search-bar {
  margin: auto;
  padding-bottom: 4rem;
}
