html {
  color: #212B35;
  font-family: Montserrat, Helvetica, sans-serif;
}

body {
  width: 80%;
}

a {
  color: #212B35;
}

a:hover {
  color: #47C1BF;
}

hr {
    border: 1px solid #DFE4E8;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
    font-family: helvetica, sans-serif;
}

.order-list-item {
    margin-left: 1em;
}
